$album-textarea-font-size:     14px;
$album-info-tip-font-size:     12px;
$album-info-tip-color:         #999;

.album-addbutton-layout {
  margin-bottom: 20px;
  margin-top: 8px;
  min-height: 20px;
  text-align: left;
}
.album-info {
  margin-bottom: 0;
}
.album-info-tip {
  color: $album-info-tip-color;
  display: inline-block;
  font-size: $album-info-tip-font-size;
  margin-left: 5px;
}